<a href="https://colab.research.google.com/github/mariyagolchin/PandasPythonLibraryForBeginnersDataScience/blob/main/Pandas_Python_Library_for_Beginners_in_Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas Python Library for Beginners in Data Science
Now we will begin our journey of mastering pandas by completing each task in this project:

Task 1 - Introduction
Task 2 - Creating Pandas Series
Task 3 - Creating DataFrames in Pandas
Task 4 - Importing/Exporting Data
Task 5 - Viewing Data and Basic Cleaning
Task 6 - Numeric Operations
Task 7 - String Operations 1
Task 8 - String Operations 2

In [2]:
# creating Series

import numpy as np
import pandas as pd
s=([1, np.nan,'Pandas Library'])
s1= pd.Series(s)
print(s1)

0                 1
1               NaN
2    Pandas Library
dtype: object

In [4]:
# creating Series Using array

s2= np.array([2, np.nan,'b'])
s2=pd.Series(s2)
print(s2)

0      2
1    nan
2      b
dtype: object

In [5]:
#  creating Series Using List
list1 = ['anima1','2','animal']
list1=pd.Series(list1)
print(list1)

0    anima1
1         2
2    animal
dtype: object

In [6]:
#  creating Series Using Dictionary
s= pd.Series({'A':1, '3':'Python'})
print(s)

A         1
3    Python
dtype: object

**Combining series** creates **Data Frames**

1.   Passing a Numpy Array
2.   Passing a dictionary of objects

In [9]:
#  creates Data Frames by Passing a Numpy Array

df =  pd.DataFrame(np.random.rand(6,4))
print(df)

          0         1         2         3
0  0.558007  0.014304  0.398893  0.974694
1  0.323181  0.548369  0.213489  0.397035
2  0.726403  0.268353  0.407270  0.755263
3  0.561069  0.811091  0.761320  0.502281
4  0.024314  0.084772  0.329716  0.547054
5  0.780061  0.242237  0.234083  0.232305

In [21]:
#  creates Data Frames by Passing a dictionary of objects
a = 1
b = 2
# c = 3
df2 = pd.DataFrame({'A':[a] , 'B':[b] ,'C':[4]})
df2

   A  B  C
0  1  2  4

In [22]:
#  creates Data Frames by Passing a dictionary of objects
df3= pd.DataFrame({'E':np.array([4]*5, dtype='int32'),
                   'Day': 2}),
print(df3)

(   E  Day
0  4    2
1  4    2
2  4    2
3  4    2
4  4    2,)

In [24]:
# Import Files

df4= pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
# df4.head()
df4.head(3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [26]:
# df5 = pd.read_json(url)
# df5.head()

Question 5
What are the methods used to create a data frame in pandas?

-Using a Dictionary.
-Using numpy array


metodes to creates series in python:
-numpy array 
-dictionary